name: Release Code (Stg & Prd)
on:
  push:
    branches:
      - main
    paths:
      - 'scaffold/**/*.py'

jobs:
  release-stg:
    uses: ./.github/workflows/template_release.yaml
    with:
      base_sha: ${{ github.event.before }}
      head_sha: ${{ github.sha }}
      artifactory_url: s3://bucket_stg

  release-prod:
    uses: ./.github/workflows/template_release.yaml
    with:
      base_sha: ${{ github.event.before }}
      head_sha: ${{ github.sha }}
      artifactory_url: s3://bucket_prod
