name: '[Template] Get PR Info'
on:
  workflow_call:
    inputs:
      pull_request_number:
        description: "Pull request number"
        required: true
        type: string
    outputs:
      base_sha:
        description: "Base commit SHA"
        value: ${{ jobs.extract.outputs.base_sha }}
      head_sha:
        description: "Head commit SHA"
        value: ${{ jobs.extract.outputs.head_sha }}

jobs:
  extract:
    runs-on: ubuntu-latest
    outputs:
      base_sha: ${{ steps.pr.outputs.base_sha }}
      head_sha: ${{ steps.pr.outputs.head_sha }}
    steps:
      - name: Get pull request
        id: pr
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const pull_number = ${{ inputs.pull_request_number }};
            const { data: pr } = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pull_number
            });
            const outputs = {
              base_sha: pr.base.sha,
              head_sha: pr.head.sha,
            };
            for (const [key, value] of Object.entries(outputs)) {
              core.setOutput(key, value);
            }
            console.log('Outputs:', JSON.stringify(outputs, null, 2));
